* {
  box-sizing: border-box;
}
.main-background {
  background-image : url(admin_bg.jpg);
  background-size : cover;
  background-repeat : no-repeat;
  background-position : center;
  background-attachment : fixed;
}
/*상품관리, 카테고리관리, 주문관리 nav*/
.nav-menu-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  line-height: 50px;
  border-bottom: solid 5px #7b6958;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
}
.nav-menu {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0px 10px;
  font-weight: bold;
  background-color: #978676;
  border-radius: 5px;
  height: 30px;
  color: white;
}
section#menu-content-wrapper {
  width: 100%;
  height: calc(100vh - 60px);
}
.menu-content {
  width: 80%;
  margin: auto;
  background-color: white;
}
/*상품 조회*/
.product-image > button {
  border: 2px solid #978676;
  color: #978676;
  background-color: white;
  height: 30px;
  border-radius: 5px;
}
/*상품추가 모달*/
#modal-form {
  width: 80%;
}
#modal-form p {
  font-weight: bold;
}
#modal-wrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  flex-direction: column;
  width: 400px;
  background-color: #e0d5ca;
  padding: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#modal-form > p {
  text-align: center;
  font-size: 24px;
  margin-top: 5px;
}
#modal-form input {
  font-size: 15px;
  width: 100%;
  border: none;
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
}
#modal-form select {
  border: none;
  height: 30px;
  border-radius: 5px;
}
.modal-form-input p {
  margin: 5px;
}
.modal-btns {
  display: flex;
  margin-top: 20px;
  justify-content: right;
  height: 30px;
}
.modal-btns > button {
  background-color: white;
  border-color: #978676;
  border-radius: 5px;
  color: #978676;
  width: 50px;
  height: 30px;
  margin-left: 5px;
  font-weight: bold;
}

/*카테고리 표*/
.table-title {
  display : inline-block;
  padding : 10px;
  border-right : solid 2px #978676;
  margin : 10px 0;
}
.table-title-wrapper {
  border-bottom : solid 2px #7b6958;
  font-weight: bold;
  align-items: center;
}
#add-category-btn {
  border: none;
  background-color: #978676;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  color: white;
}

#category-modal-form p {
  font-weight: bold;
}
#category-modal-wrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  flex-direction: column;
  width: 400px;
  background-color: #e0d5ca;
  padding: 30px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#category-modal-form > p {
  text-align: center;
  font-size: 24px;
  margin-top: 5px;
}
#category-modal-form input {
  font-size: 15px;
  width: 100%;
}
.modal-form-input p {
  margin: 5px;
}
.modal-btns {
  display: flex;
  margin-top: 20px;
  justify-content: right;
  height: 30px;
}
.table-title-wrapper {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px;
  text-align: center;
  vertical-align: middle;
  background-color: #e0d5ca;
  border-bottom: 3px solid #7b6958;
}

.category-list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #7b6958;
  height: 50px;
}
.category-list-content > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-btns {
  display: flex;
  justify-content: center;
}
.category-btns > button {
  margin: 0 20px;
  height: 80%;
  border: 2px solid #978676;
  background-color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  color: #978676;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-list-content > div {
  text-align: center;
  vertical-align: middle;
  width: 25%;
  height: 40px;
}

/*상품 표 title*/
.product-table-title-wrapper {
  grid-column: 1 / 9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
  grid-template-rows: 60px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  border-bottom: #7b6958 solid 3px;
  background-color: #e0d5ca;
}
.product-list-content {
  display: grid;
  grid-column: 1 / 9;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
  grid-template-rows: 70px;
  text-align: center;
  vertical-align: middle;
  border-bottom: #7b6958 solid 2px;
}
.product-list-content > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#add-product-btn {
  border: none;
  background-color: #978676;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  color: white;
}
.product-table-title {
  border-right: #7b6958 solid 2px;
  margin: 16px 0;
}
.product-btns {
  display: flex;
  justify-content: space-between;
}
.product-btns > button {
  background-color: white;
  width: 50%;
  border-color: #978676;
  border-radius: 5px;
  margin: auto;
  height: 60%;
  color: #7b6958;
}
/*상품 리스트*/
.product-list-content > div{
  display: flex;
  align-items: center;
  padding: 5px;
}

/*상품 수정 폼*/
#product-modify-modal-form {
  width: 80%;
}
#product-modify-modal-form p {
  font-weight: bold;
}
#product-modify-modal-wrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  flex-direction: column;
  width: 400px;
  background-color: #e0d5ca;
  padding: 30px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#product-modify-modal-form > p {
  text-align: center;
  font-size: 24px;
  margin-top: 5px;
}
#product-modify-modal-form input {
  font-size: 15px;
  width: 100%;
  border: none;
  background-color: white;
  height: 30px;
  border-radius: 5px;
}
.modal-form-input p {
  margin: 5px;
}
.modal-btns {
  display: flex;
  margin-top: 20px;
  justify-content: right;
  height: 30px;
}
#product-modify-modal-form select {
  border: none;
  background-color: white;
  border-radius: 5px;
  height: 30px;
}

/*카테고리 수정폼*/
#modify-category-modal-form p {
  font-weight: bold;
}
#category-modify-modal-wrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  flex-direction: column;
  width: 400px;
  background-color: #e0d5ca;
  padding: 30px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#modify-category-modal-form > p {
  text-align: center;
  font-size: 24px;
  margin-top: 5px;
}
#modify-category-modal-form input {
  font-size: 15px;
  width: 100%;
}
/*주문관리 표*/
.order-table-title-wrapper {
  grid-column: 1 / 8;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  border-bottom: #7b6958 solid 3px;
  background-color: #e0d5ca;
}
.order-table-title {
  border-right: solid 2px #978676;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}
.order-list-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  border-bottom: solid 2px #7b6958;
}
.order-list-content > div {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-delete-btn {
  background-color: white;
  width: 50%;
  border-color: #978676;
  border-radius: 5px;
  margin: auto;
  height: 60%;
  color: #978676;
}
.order-status-selector {
  height: 60%;
  border : 2px solid #978676;
  background-color: white;
  border-radius: 5px;
  color: #978676;
  font-size: 16px;
}
/*이미지 업로드폼*/
#img-upload-form-wrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  flex-direction: column;
  width: 400px;
  background-color: #e0d5ca;
  padding: 30px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#img-upload-form {
  display: flex;
  width: 80%;
  align-items: center;
  flex-direction: column;
}
.img-upload-btns {
  margin-top: 20px;
}
#imagePreview {
  margin-top: 20px;
  width: 200px;
}
#img-upload-form > p {
  font-weight: bold;
  font-size: 24px;
}
.img-upload-btns > button {
  margin: 0 5px;
  border: 2px solid #978676;
  background-color: white;
  color: #978676;
  border-radius: 5px;
  width: 60px;
  height: 30px;
}
input[type="file" i]::-webkit-file-upload-button {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border-color: white;
  color: #978676;
}
#img-submit-btn {
  width: 80px;
}