<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./admin.css" />
  <script src="./admin.js" type="module" defer></script>
  <title>Document</title>
</head>
<body>
  <!--  상품관리, 주문관리, 카테고리관리 -->
  <nav class="nav-menu-wrapper">
    <div id="product" class="nav-menu">상품관리</div>
    <div id="order" class="nav-menu">주문관리</div>
    <div id="category" class="nav-menu">카테고리관리</div>
  </nav>
  <section id="menu-content-wrapper">
    <!--상품관리 내용-->
    <div style="display: none" id="product-menu-content">
      <div class="product-btn-wrapper">
        <button id="get-product-button">상품조회</button>
        <button>상품추가</button>
        <button>상품수정</button>
      </div>
      <div id="productList"></div>
    </div>
    <!--주문관리 내용-->
    <div style="display: none" id="order-menu-content">order</div>
    <!--카테고리관리 내용-->
    <div style="display: none" id="category-menu-content">category</div>
  </section>
</body>
</html>