.navbar {
  display: flexbox;
  justify-content: center;
}
.container-fluid {
  width: 80%;
}
.category-item {
  width: 22%;
  height: 150px;
  margin: 30px;
}

.serchsubmit {
  width: 100px;
}

h1 {
  margin: 30px;
  text-align: center;
}

.navbar-brand {
  font-size: 35px;
}

.nav-link {
  font-size: 17px;
  margin: 20px;
  white-space: nowrap;
}

.img-slide-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.img-slide {
  width: 70%;
  height: 300px;

  object-fit: contain;
  overflow: hidden;
}

html,
body {
  font-family: 'MaruBuri-Regular';
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 50px;
}
.navbar {
  display: flex;
  flex-direction: row;
}

#myCategory {
  /* width: 80%; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.category_title {
  margin: 15px;
}

.best-item-conatiner,
.new-item-conatiner,
.test {
  display: flex;
}
.test > div {
  width: 200px;
  height: 200px;
}

.best-item-conatiner > div {
  width: 200px;
  height: 200px;
}
.new-item-conatiner > div {
  width: 200px;
  height: 200px;
}

.item-title {
  color: blueviolet;
}
.item-price {
  color: darkcyan;
}
