<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>주문내역조회</title>
    <script src="orderList.js" defer></script>
    <script src="../public/nav.js"></script>
    <link rel="stylesheet" type="text/css" href="orderList.css" />
    <!-- 부트스트랩 CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <!-- 부트스트랩JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="whereNav"></div>
    <!-- 현재 ID의 전체주문내역 정보를 가져온다 -->
    <div class="order-list-wrapper">
      <h2>주문내역조회</h2>
      <section id="order-content-box-wrapper" class="main__section"></section>
    </div>
  </body>
</html>
