<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>주문결제상세</title>
    <script src="orderDefault.js" defer></script>
    <link rel="stylesheet" type="text/css" href="orderDefault.css" />
  </head>
  <body>
    <div class="order-content-wrapper">
      <h2>주문 / 결제</h2>

      <div class="order-info-container">
        <div class="user-info-content">
          <h4>주문자 정보</h4>
          <ul class="user-info-content-ul">
            <li>주문자 : <span id="user-info-content-name">박세진</span></li>
            <li>연락처 : <span id="user-info-content-phoneNum">010-1234-1234</span></li>
          </ul>
        </div>

        <div class="delivery-info-content">
          <h4>배송지정보</h4>
          <ul>
            <!-- <li>주소 : (04799) 서울 성동구 아차산로17길 48 성수낙낙</li> -->
            <li>주소 : <span id="user-info-content-address">서울 성동구 아차산로17길 48 성수낙낙</span></li>
            <li>연락처 : 010-1234-1234</li>
            <li>
              배송메세지 :
              <select name="selectDeliveryMessage">
                <option value=""></option>
                <option value="1">부재시 연락 부탁드립니다.</option>
                <option value="2">부재시 경비실에 맡겨주세요.</option>
                <option value="3">조심히 배달하여 주세요.</option>
              </select>
            </li>
            <li>
              <button id="btnAddressInfo">주소록</button>
            </li>
          </ul>
        </div>

        <div class="order-detail-content-wrapper">
          <h4>주문상세</h4>

          <div class="order-detail-content">
            <ul>
              <li id="productImage"><img src="productImage01.jpg" /></li>
              <li id="productName">케로케로케로피 페이스 쿠션</li>
              |
              <li id="quantity">2개</li>
              |
              <li id="price">36,500원</li>
              |
              <li id="supplyPrice">73,000원</li>
            </ul>
          </div>
        </div>

        <div class="pay-info-content">
          <h4>결제상세</h4>
          <ul>
            <li>결제금액 : <span id="sumSupplyPrice"></span>원</li>
          </ul>
        </div>
        <!--
            <div class="">
                결제수단
            </div>
    -->
        <div class="buttonGroup order-create">
          <button id="btnOrderCancel">주문취소</button><!-- 주문취소 시 홈화면으로 돌아간다-->
          <button id="btnOrderConfirm">결제하기</button><br />
          <button id="btnMoveCart">장바구니로 돌아가기</button>
        </div>          
        <div class="buttonGroup order-detail">
          <button id="btnOrderCancel">주문취소</button><!-- 주문취소 시 홈화면으로 돌아간다-->
          <button id="btnOrderConfirm">주문수정</button><br />
          <button id="btnMoveOrderList">주문내역으로 돌아가기</button>
        </div>
      </div>
    </div>
  </body>
</html>
