/* Default CSS */
* {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

ol, ul {
    list-style: none;
}

.container {
    width: 960px;
    margin: 0 auto;
}
body {
    background-color: #D7CCC8;
}

/* 주문 결제 */
.order-content-wrapper {
    width: 1100px;
    margin: 30px auto;
    padding: 15px 0px; 
    background-color: #ffffff;

    border: 1px solid #e0e0e0;
}
.order-content-wrapper > h2 {
    text-align: center;
    margin: 30px 0px;
}

/* 주문자 정보 */
.order-info-container > .user-info-content{
    width: 870px;
    border: 1px solid #e0e0e0;
    margin: 10px auto 30px auto;
    justify-content: center;
    align-items: center;
}
.order-info-container > .user-info-content > h4 {
    margin: 30px 0px 10px 30px;

}
.order-info-container > .user-info-content > ul {
    margin: 15px 0px 20px 30px;

}
/* 
.order-info-container > .user-info-content > ul > .user-info-content-ul {

}
.order-info-container > .user-info-content > ul > .user-info-content-ul > #user-info-content-name {
    display: inline;
}
*/
/* 배송지 정보 */
.order-info-container > .delivery-info-content{
    width: 870px;
    border: 1px solid #e0e0e0;
    margin: 10px auto 30px auto;
}
.order-info-container > .delivery-info-content > h4 {
    margin: 30px 0px 10px 30px;

}
.order-info-container > .delivery-info-content > ul {
    margin: 15px 0px 20px 30px;
}

/* 주문 정보 */ 
.order-info-container > .order-detail-content-wrapper {
    width: 870px;
    border: 1px solid #e0e0e0;
    margin: 10px auto 30px auto;   
}
.order-info-container > .order-detail-content-wrapper > h4 {
    margin: 30px 0px 10px 30px;
}

.order-info-container > .order-detail-content-wrapper >.order-detail-content {
    width: 870px;
    /* border: 1px solid #e0e0e0; */
    margin: 10px auto 30px auto;   
    /* border-bottom: 1px solid #e0e0e0; */
}
.order-info-container > .order-detail-content-wrapper > .order-detail-content > h4 {
    margin: 30px 0px 10px 30px;
}
.order-info-container > .order-detail-content-wrapper > .order-detail-content > ul {
    margin: 15px 30px 20px 10px;
    display: flex;
    /* border-bottom: 1px solid #e0e0e0; */
}
.order-info-container > .order-detail-content-wrapper > .order-detail-content > ul > li {
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box; /* 박스 사이즈를 테두리 선까지 포함합니다. */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top : 1px rgba(0, 0, 0, 0) dotted; */
}
.order-info-container > .order-detail-content-wrapper > .order-detail-content > ul > li > img {
    width:170px;
    margin: 7px 10px;
    display:inline-block;
    margin: 15px 0px 20px 0px;
}


/* 결제정보 */
.order-info-container > .pay-info-content{
    width: 870px;
    border: 1px solid #e0e0e0;
    margin: 10px auto 30px auto;
}
.order-info-container > .pay-info-content > h4 {
    margin: 30px 0px 10px 30px;
}
.order-info-container > .pay-info-content > ul {
    margin: 15px 0px 20px 30px;
}

/* 버튼 그룹 */
.order-info-container .buttonGroup {
    text-align: center;
}



/* 배송지 정보 */

.phoneNum {
    size: 10;
}
.address {
    size: 15;
}

.address-content-wrapper {
    width: 750;
    /* margin-left: calc(50% - 400px); */
    /* padding: 5px; */
}
.address-content-table.row {
    border-top: 1px solid #c0c0c0;
    display: grid;
    grid-template-columns: 120px 700px;
}
.address-content-table.row:nth-child(5) {
    border-bottom: 1px solid black;
}
.address-content-table.row > .address-content-table.column:first-of-type {
    background-color: #f0f0f0;
    color: black;
    font-weight: bold;
    /* text-align: center; */
}

.address-content-table.row > .address-content-table.column > .column-inline-block {
    /* background-color: green; */
    display: inline-block;
    margin:0px;
}

#sample6_postcode {
    width: 95px;

}
#sample6_address {
    width: 200px;
}
#sample6_detailAddress {
    width: 350px;
}

.address-content-table.column {
    /* text-indent: 10px; */
    display: inline-block;
    font-size: 10pt;
    padding: 10px;
    /* text-align: center; */
}

.address-content-table.column.header {
    text-align: center;
}


.address-content-table.column.phone-input > select, input {
    display: inline-block;
    margin: 5px;
    width: 70px;
    height: 20px;
}

.address-content-table.column.phone-input > select#address-content-select-wrapper-message {
    display: inline-block;
    margin: 5px;
    width: 450px;
}

.address-content-table.column > input[type="button"] {
    display: inline-block;
    width: 100px;
}


.address-content-button-wrapper {
    margin: 10px;
    text-align: center;
}
