<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>주문내역조회</title>
    <script src="orderList.js" defer></script>
    <link rel="stylesheet" type="text/css" href="orderList.css">
</head>
<body>

    <!-- 현재 ID의 전체주문내역 정보를 가져온다 -->
    <div class="order-list-wrapper">   

        <h2>주문내역조회</h2>

        <section class="main__section">
            <div class="main__profile">
                <div class="main__avata">
                    <img
                        width="150px"
                        height="150px"
                        src="./productImage01.jpg"
                        alt="productImage"
                    />
                </div>
                <div class="main__header">
                    <div class="top">
                        <h4>주문번호: 202304182251-01</h4>&nbsp;&nbsp;
                        <button id="btnOrderDetail">주문상세</button>
                    </div>
                    <div class="middle">
                        <ul>
                        <li><b>주문일자</b> 2023-04-18</li>
                        <li><b>배송</b> 준비중</li>
                        <li><b>결제금액</b> 280,000원</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="main__section">
            <div class="main__profile">
                <div class="main__avata">
                    <img
                        width="150px"
                        height="150px"
                        src="./productImage03.jpg"
                        alt="productImage"
                    />
                </div>
                <div class="main__header">
                    <div class="top">
                        <h4>주문번호: 202304071501-05</h4>&nbsp;&nbsp;
                        <button id="btnOrderDetail">주문상세</button>
                    </div>
                    <div class="middle">
                        <ul>
                        <li><b>주문일자</b> 2023-04-07</li>
                        <li><b>배송</b> 완료</li>
                        <li><b>결제금액</b> 37,000원</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>   
        <section class="main__section">
            <div class="main__profile">
                <div class="main__avata">
                    <img
                        width="150px"
                        height="150px"
                        src="./productImage04.jpg"
                        alt="productImage"
                    />
                </div>
                <div class="main__header">
                    <div class="top">
                        <h4>주문번호: 202304071501-23</h4>&nbsp;&nbsp;
                        <button id="btnOrderDetail">주문상세</button>
                    </div>
                    <div class="middle">
                        <ul>
                        <li><b>주문일자</b> 2023-04-07</li>
                        <li><b>배송</b> 완료</li>
                        <li><b>결제금액</b> 51,000원</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="main__section">
            <div class="main__profile">
                <div class="main__avata">
                    <img
                        width="150px"
                        height="150px"
                        src="./productImage05.jpg"
                        alt="productImage"
                    />
                </div>
                <div class="main__header">
                    <div class="top">
                        <h4>주문번호: 202303271501-01</h4>&nbsp;&nbsp;
                        <button id="btnOrderDetail">주문상세</button>
                    </div>
                    <div class="middle">
                        <ul>
                        <li><b>주문일자</b> 2023-03-27</li>
                        <li><b>배송</b> 완료</li>
                        <li><b>결제금액</b> 15,000원</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>