<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>주문결제상세</title>
    <script src="orderDefault.js" defer></script>
    <link rel="stylesheet" type="text/css" href="orderDefault.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </head>
  <body>
    <div class="order-content-wrapper">
      <h2>주문 / 결제</h2>

      <div class="order-info-container">
        <div class="user-info-content">
          <h4>주문자 정보</h4>
          <ul class="user-info-content-ul">
            <li>주문자 : <div id="user-info-content-name"></div></li>
            <!-- <li>연락처 : <span id="user-info-content-phoneNum">010-1234-1234</span></li> -->
            <li>이메일 : <div id="user-info-content-email"></div></li>
          </ul>
        </div>

        <div class="delivery-info-content">
          <h4>배송지정보</h4>
          <ul>
            <!-- <li>주소 : (04799) 서울 성동구 아차산로17길 48 성수낙낙</li> -->

            <li>
              <div class="address-content-table">
                <div class="address-content-table row">
                    <div class="address-content-table column header">연락처</div>
                    <div class="address-content-table column phone-input">
                      <select id="address-content-select-wrapper-phone"></select> -
                      <input type="text" id="inputPhoneNum2"> -
                      <input type="text" id="inputPhoneNum3">
                    </div>
                </div>
                <div class="address-content-table row">
                    <div class="address-content-table column header">주소</div>
                    <div class="address-content-table column">
                        <input type="text" id="sample6_postcode" placeholder="우편번호">
                        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                        <div class="column-inline-block"><input type="text" id="sample6_address" placeholder="주소"></div>
                        <div class="column-inline-block"><input type="text" id="sample6_detailAddress" placeholder="상세주소"></div>
                </div>
                <div class="address-content-table row">
                    <div class="address-content-table column header">배송요청사항</div>
                    <div class="address-content-table column phone-input">
                      <select id="address-content-select-wrapper-message"></select>
                    </div>
                </div>
            </li>
          </ul>
        </div>

        <div class="order-detail-content-wrapper">
          <h4>주문상세</h4>
          <div class="order-detail-content">
            <ul>
              <li id="productImage"><img src="productImage01.jpg" /></li>
              <li id="productName">케로케로케로피 페이스 쿠션</li>
              |
              <li id="quantity">2개</li>
              |
              <li id="price">36,500원</li>
              |
              <li id="supplyPrice">73,000원</li>
            </ul>
          </div>
        </div>

        <div class="pay-info-content">
          <h4>결제상세</h4>
          <ul>
            <li>결제금액 : <span id="sumSupplyPrice"></span>원</li>
          </ul>
        </div>
        <!--
            <div class="">
                결제수단
            </div>
        -->
        <div class="buttonGroup order-create">
          <button id="btnOrderCreateCancel">주문취소</button>
          <button id="btnOrderConfirm">결제하기</button><br />
          <button id="btnMoveCart">장바구니로 돌아가기</button>
        </div>          
        <div class="buttonGroup order-detail">
          <button id="btnOrderDetailCancel">주문취소</button>
          <button id="btnOrderConfirm">주문수정</button><br />
          <button id="btnMoveOrderList">주문내역으로 돌아가기</button>
        </div>
      </div>
    </div>
  </body>
</html>
