<!DOCTYPE html>
<html>
<head>
    <title>주문상세</title>
</head>
<body>
    <main>
    <h2>주문상세</h2>
        <!-- 기본적인것은 주문/결제 부분이랑 같지만, 버튼부분이 다르고, 배송상태에 따라 가능여부가 다름 -->
        <div class="container">
            <div class="">
                주문자정보
            </div>

            <div class="">
                배송지정보
            </div>

            <div class="">
                주문상품
            </div>

            <div class="">
                결제금액
            </div>

            <div class="">
                결제수단
            </div>

            <div class="buttonGroup">
                주문취소 주문수정 주문내역으로 돌아가기
            </div>

        </div>

    </main>
</body>
</html>