
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>주문완료</title>
    <script src="orderConfirm.js" defer></script>
    <link rel="stylesheet" type="text/css" href="orderConfirm.css">
</head>
<body>
    <div class="order-confirm-wrapper">
        <main class="main">
            <h3>주문이 완료되었습니다.</h3>
            <section id="order-content-box-wrapper" class="main__section">
                <div id="order-cotent-box" class="main__profile">
                    <div class="main__avata">
                        <img
                            width="150px"
                            height="150px"
                            src="./productImage01.jpg"
                            alt="productImage"
                        />
                    </div>
                    <div class="main__header">
                        <div class="top">
                            <h4>주문번호: 202304182251-01</h4>&nbsp;&nbsp;
                            <button id="btnOrderDetail">주문상세</button>
                        </div>
                        <div class="middle">
                            <ul>
                            <li><b>주문일자</b> 2023-04-18</li>
                            <li><b>배송</b> 준비중</li>
                            <li><b>결제금액</b> 280,000원</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>