<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>주문완료</title>
    <script src="orderConfirm.js" defer></script>
    <link rel="stylesheet" type="text/css" href="orderConfirm.css" />
  </head>
  <body>
    <div class="order-confirm-wrapper">
      <main class="order-confirm-content-container">
        <h3>주문이 완료되었습니다.</h3>
        <section
          id="order-content-box-wrapper"
          class="order-content-box-wrapper"
        ></section>
      </main>
    </div>
  </body>
</html>
