.address-content-wrapper {
    width: 800px;
    margin-left: calc(50% - 400px);
}
.address-content-table.row {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: 200px 600px;
}
.address-content-table.row:nth-child(5) {
    border-bottom: 1px solid black;
}
.address-content-table.row > .address-content-table.column:first-of-type {
    background-color: silver;
    color: black;
    font-weight: bold;
}
.address-content-table.column {
    text-indent: 10px;
    display: inline-block;
}
.address-content-table.column.phone-input > select, input {
    display: inline-block;
}
