<html>
<head>
    <script src="addressInfo.js" defer></script>
    <link rel="stylesheet" type="text/css" href="addressInfo.css">
</head>
<body>
    <div class="address-content-wrapper">
        <h2>나의 주소록</h2>
        <div class="address-content-table">
            <div class="address-content-table row">
                <div class="address-content-table column">수령인명</div>
                <div class="address-content-table column"><input type="text" name="txtUserName" /></div>
            </div>
            <div class="address-content-table row">
                <div class="address-content-table column">전화번호</div>
                <div class="address-content-table column phone-input">
                    <select id="address-content-select-wrapper"></select>
                    -
                    <input type="number" name="phone2" />
                    -
                    <input type="number" name="phone3" />
                </div>
            </div>
            <div class="address-content-table row">
                <div class="address-content-table column">주소</div>
                <div class="address-content-table column">
                    <div><input type="text" name="txtPostNum" /><button id="addressInfoSetting">우편번호 찾기</button></div>
                    <div><input type="text" name="txtAddress" /></div>
                    <div><input type="text" name="txtAddressDetail" /></div>
                </div>
            </div>
            <div class="address-content-button-wrapper">
                <button id="btnCancel">취소</button>
                <button id="btnSave">등록</button>
            </div>
        </div>
    </div>
</body>
</html>
