* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f6f4f0;
}

.flex {
  display: flex;
}

.container {
  width: 97%;

  height: max-content;
  margin: 0 auto;
  margin-top: 5vh;

  display: flex;

  justify-content: space-around;
  /* background-color: blue; */
}

.container .mypage-menu {
  width: 17%;
  background-color: #ffffff;
  height: 90vh;
}

.container .mypage-content {
  width: 79%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.mypage-menu-list {
  display: flex;

  flex-direction: column;
  justify-content: space-around;

  list-style: none;
}

.mypage-menu-list li {
  /* background-color: lightblue; */
  font-weight: bold;

  height: 3vh;
  margin-top: 1.7vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 5vh;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

.mypage-menu-list li:first-child {
  font-size: 1.6rem;
  font-weight: 900;
  margin-top: 5vh;
}

.mypage-menu-list li:not(.mypage-menu-list li:first-child) {
}

.mypage-content-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  margin-top: 7vh;
  height: 79vh;
}

.order-list-option {
  display: flex;
  width: 90%;
  font-weight: 500;
}

.order-list-option .option-left {
  width: 52.7%;
}

.order-list-option .option-right {
  display: flex;
  width: 47.3%;
}

.order-list-option .option-right div {
  width: 30%;
}

.mypage-content .order-list {
  width: 100%;
  margin-top: 2vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
}

.mypage-content .order-list li {
  height: 11vh;

  /* background-color: blue; */
  margin-top: 1vh;
}

.productsList {
  display: flex;
}

.product-left {
  display: flex;
  align-items: center;
}
.product-right {
  display: flex;
  align-items: center;
}

.menu-list-link {
  text-decoration: none;
  color: #000000;
}

ol,
ul {
  list-style: none;
}

.order-list-wrapper {
  width: 960px;
  text-align: center;
  margin: 0 auto;
}
.order-list-wrapper h2 {
  text-align: center;
  margin: 30px 0px;
}
.order-list-wrapper .order-content-box {
  margin: 30px 0px;
}
.main {
  /* border: 1px solid #ccc; */
  margin: 30px auto;
}
.main h2 {
  text-align: center;
  margin: 30px auto;
}
.main__section {
  width: 953px;
  height: auto;
  margin: 20 auto;
  /* padding: 30px 20px 0px 20px; */

  border: 0px;

  box-sizing: border-box;
  /*background-color: #F5F5F5;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main__profile {
  margin: 0px auto;
  display: flex;
  border: 1px #e0e0e0 solid;
  padding: 20px;
  margin: 30px 0px;
  justify-content: center;
}
.main__profile > .main__avata {
  width: 292px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.main__profile > .main__avata > img {
  border-radius: 50px;
}
.main__header > .top {
  height: 40px;
  margin-bottom: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  /*    background-color: green;*/
}
.main__header > .top > h2 {
  margin-right: 20px;

  display: flex;
  align-items: center;

  font-size: 28px;
  line-height: 30px;
}
.main__header > .top > button {
  width: 90px;
  height: 30px;
  margin-right: 10px;

  background-color: #fff;
  border: 1px #8e8e8e solid;
  border-radius: 4px;
  font-weight: 700;
  color: #262626;

  cursor: pointer;
}
.main__header > .top > img {
  margin-right: 10px;
  cursor: pointer;
}
.main__header > .middle {
  margin-bottom: 20px;
}
.main__header > .middle > ul {
  display: flex;
}
.main__header > .middle > ul > li {
  margin-right: 40px;
}
.main__header > .middle > ul > li > b {
  font-weight: 700;
}
.main__header > h3 {
  font-weight: 700;
}
.main__nav {
  height: 53px;
  display: flex;
  justify-content: center;
  border-top: 1px #dbdbdb solid;
}
.main__nav > ul {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.main__nav > ul > li {
  height: 100%;
  padding: 0 30px;
  box-sizing: border-box; /* 박스 사이즈를 테두리 선까지 포함합니다. */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px rgba(0, 0, 0, 0) solid;
}
.main__nav > ul > li > a {
  color: #8e8e8e;
  text-decoration: none;
}
.main__nav > ul > li > img {
  width: 12px;
  height: 12px;
  margin: 0px 7px 2px 0px;
  filter: contrast(15%); /* ??? */
}
